@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

:root {
	--bg: #efefef;
	--white: #fff;
	--black: #151515;
	--primary: #404040;
	--secondary: #89664e;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	color: var(--black);
	background-color: var(--bg);
}

.app {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	min-height: 100vh;
	padding: 2.5rem;
	
	&__todolist {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: flex-start;
		width: 100%;
		margin: 2.5rem 0;

	}
}

h1 {
	font-size: 2rem;
	font-weight: 500;
}
